body{
    padding: 0;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}

main{
    width: 90%;
    margin: 0 auto;
}

@media only screen and (max-width: 1082px) {
    main {
        width: 100%;
    }
}

.link-arrow-animated{
    cursor: pointer;
    transition: all .3s;
    margin-bottom: 10px;
    color: blue !important;
}

.link-arrow-animated a{
    text-decoration: none;
}

.link-arrow-animated-left{
    display: inline;
    margin-right: 0px;
    transition: all .3s;
}

.link-arrow-animated-right{
    display: inline;
    margin-left: 0px;
    transition: all .3s;
}

.link-arrow-animated:hover .link-arrow-animated-left{
    margin-right: 5px;
    transition: all .3s;
    border-bottom: 2px solid blue;
}
