header{
    display: flex;
    justify-content: space-between;
}

header img{
    height: 25px;
    width: auto;
}

header ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0px;
}

header li{
    list-style: none;
    display: inline;
    cursor: pointer;
    padding: 15px 10px 10px 10px;
}

header a{
    text-decoration: none;
    color:black;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.8rem;
}

header li:hover a{
    border-bottom: 3px solid black;
}

header li:active{
    border: 1px dashed black;
}

.icon-header{
    font-size: 1.4rem;
    cursor: pointer;
}

.fa-chevron-down{
    font-size: 0.75rem; 
}

@media only screen and (max-width: 1082px) {
    header {
        width: 95%;
        margin: 0 auto;
    }
}

.subnav{
    position: absolute;
    background: #eee;
    right: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 105px;
    z-index: 10;
    border-bottom: 1px solid black;
    display: none;
}

.subnav ul{
    margin: 0;
    display: block;
}

.subnav ul li{
    display: block;
}

.subnav ul li h3{
    display: block;
    font-size: 0.8rem;
}

.colunms-subnav{
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 20px;
    padding: 20px;
}

.subnav-more{
    position: absolute;
    background: #eee;
    min-width: 120px;
    z-index: 10;
    top: 103px;
    left: 492px;
    border-bottom: 1px solid black;
    display: none;
}

.subnav-more-sm{
    left: 442px;
}

.subnav-more ul{
    display: block;
}
.subnav-more li{
    display: block;
}

.subnav-hamburguer{
    position: absolute;
    background: #eee;
    z-index: 10;
    top: 105px;
    left: 0;
    border-bottom: 1px solid black;
    width: 100%;
    display: none;
}

.subnav-hamburguer ul{
    display: block;
}
.subnav-hamburguer li{
    display: block;
    border-top: 1px solid #ddd;
}

.subnav-hamburguer a{
    font-size: .9rem;
}

.subnav-hamburguer li:active{
    border: 1px dashed black;
}

.subnav-hamburguer:hover a{
    border-bottom: none;
}

.submenu ul{
    padding-left: 22px;
    display: none;
}

.submenu div{
    display: flex;
    justify-content: space-between;
}

.submenu div i{
    color:#999;
    font-size: 0.8rem;
}

.submenu:active{
    border: none !important;
}

@media only screen and (max-width: 1228px) {
    .colunms-subnav{
        grid-template-columns: repeat(5, auto);
    }
}

@media only screen and (max-width: 1024px) {
    .colunms-subnav{
        grid-template-columns: repeat(4, auto);
    }
}

@media only screen and (max-width: 856px) {
    .colunms-subnav{
        display: none;
    }
}

.footer-subnav{
    text-align: center;
    background: #ddd;
    padding: 8px;
}

.footer-subnav a:hover{
    border-bottom: 1px solid black;

}